$oao-1:rgb(255,255,0)
$font-style-2: Helvetica, Arial, sans-serif
h1
    background-color:$oao-1
    overflow: visible //溢出邊界時,內容會超出邊框 hidden 超出內容會被裁剪 scroll 超出時會有滑條可以向下查看內容 auto逼不得已才會有滑條
    $font-style-1: (key1: value1, key2: value2)
    