/* Error: semicolons aren't allowed in the indented syntax.
 *   ,
 * 2 | @import url(https://fonts.googleapis.com/css?family=Pacifico);
 *   |                                                              ^
 *   '
 *   owo.sass 2:62  root stylesheet */

body::before {
  content:'';
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: semicolons aren't allowed in the indented syntax.\a   \2577 \a 2 \2502  @import url(https://fonts.googleapis.com/css?family=Pacifico);\d\a   \2502                                                               ^\a   \2575 \a   owo.sass 2:62  root stylesheet";
}
